<div class="row justify-content-center">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
        <mat-card>
            <h4>Howdy! This site is used to showcase up and coming videographers.</h4>
        </mat-card>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
        <mat-card>
            <mat-card-content>
                <div class="row justify-content-center" *ngIf="loading">
                    <mat-spinner></mat-spinner>
                </div>
                <mat-list *ngIf="!loading">
                    <mat-list-item *ngFor="let vg of videographers; let i = index" class="pointer"  routerLink="{{getLink(vg)}}">
                        <img matListAvatar src="{{ vg.pictureUrl}}"
                            alt="{{vg.firstName + ' ' + vg.lastName}}">
                        <h2 matLine class="bold"> {{vg.firstName + ' ' + vg.lastName}} </h2>
                        <p matLine>
                            <span *ngIf="vg.location">{{vg.location}}</span>
                        </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>