<div class="row justify-content-center">
    <div class="col-sm-6">
        <mat-card>
            <h4>Howdy! This site is used to showcase up and coming videographers.</h4>
        </mat-card>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
        <mat-card>
            <mat-card-content>
                <div class="row justify-content-center" *ngIf="loading">
                    <mat-spinner></mat-spinner>
                </div>
                <mat-list *ngIf="!loading">
                    <mat-list-item *ngFor="let vg of videographers; let i = index" class="pointer">
                        <img routerLink="{{getLink(vg)}}" matListAvatar src="{{ vg.pictureUrl}}"
                            alt="{{vg.firstName + ' ' + vg.lastName}}">
                        <h3 routerLink="{{getLink(vg)}}" matLine> {{vg.firstName + ' ' + vg.lastName}} </h3>
                        <p matLine routerLink="{{getLink(vg)}}">
                            <span>{{vg.location}}</span>
                        </p>

                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>