<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-xs-12">
            <mat-card>
                <h4>Welcome! This site is used to showcase up and coming videographers.</h4>
            </mat-card>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10 col-xs-12">
            <mat-card>
                <mat-card-content>
                    <div class="row justify-content-center" *ngIf="loading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <videographer-carousel [videographers]="videographers"></videographer-carousel>
                </mat-card-content>
            </mat-card>

            <ng-container *ngIf="videos">
                <ng-container *ngFor="let vd of videos">
                    <video-card [video]="vd"></video-card>
                </ng-container>
            </ng-container>

            <div class="row justify-content-center" *ngIf="loadingVideos">
                <mat-spinner></mat-spinner>
            </div>

            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
            </div>
        </div>
    </div>
</div>