<owl-carousel [options]="mySlideOptions" [items]="videographers" [carouselClasses]="['owl-theme', 'sliding']">
  <div class="item" *ngFor="let videographer of videographers">
    <img data-src="{{videographer.profilePic}}" alt="{{videographer.firstName || null}}  {{videographer.lastName || null}}"
      class="lazyload avatar pointer" routerLink="{{getLink(videographer)}}" />
    <div class="pointer text-center" routerLink="{{getLink(videographer)}}">
      <h4 matLine class="bold name-link">
        {{videographer.firstName + ' ' + videographer.lastName}} </h4>
      <p matLine>
        <span *ngIf="videographer.location">{{videographer.location}}</span>
      </p>
    </div>
  </div>
</owl-carousel>