<div class="container">
    <div *ngIf="videographer && auth.createdBy(videographer.createdBy) && auth.can('patch:videographer')" class="row justify-content-center">
        <div class="col-sm-12 col-md-10">
            <mat-card>
                <a mat-raised-button class="ml-auto" routerLink="edit">Edit Portfolio</a>
                <a mat-raised-button class="ml-auto" (click)="addVideo()">Add Video</a>
                <a mat-raised-button class="ml-auto" *ngIf="auth.can('delete:videographer')" (click)="deletePortfolio()" >Delete Portfolio</a>
            </mat-card>
        </div>
    </div>
    <div *ngIf="videographer" class="row justify-content-center">
        <div class="col-sm-12 col-md-10">
            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <mat-list-item>
                                <h3 matLine> {{videographer.firstName + ' ' + videographer.lastName}} </h3>
                                <p matLine>
                                    <span> {{videographer.location}} </span>
                                </p>
                            </mat-list-item>
                            <img src="{{ videographer.profilePictureUrl}}"
                                alt="{{videographer.firstName + ' ' + videographer.lastName}}" class="avatar" />
                        </div>
                        <div class="col-sm-12 col-md-9">
                            {{videographer.bio}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card *ngFor="let vd of videographer.videos">
                <mat-card-title>
                    {{vd.title}}
                </mat-card-title>
                <iframe width="100%" height="315" class="e2e-iframe-trusted-src" [src]="getVideoLink(vd.url)" frameborder="0"
                   ></iframe>
                <mat-card-content>

                    <div class="row">
                        <div class="col-sm-10 offset-md-1">
                            {{vd.description}}
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-footer *ngIf="auth.can('delete:video')">
                        <a mat-raised-button class="ml-auto" (click)="removeVideo(vd.id)">Remove Video</a>
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>