<div class="container">
    <div *ngIf="videographer && videographer.id === auth.activeUserId()" class="row justify-content-center">
        <div class="col-sm-12 col-md-10">
            <mat-card>
                <a mat-raised-button class="ml-auto" routerLink="edit">Edit Profile</a>
                <a mat-raised-button class="ml-auto" routerLink="add-video">Add Video</a>
                <a mat-raised-button class="ml-auto" *ngIf="auth.can('delete:videographer')"
                    (click)="deletePortfolio()">Delete Portfolio</a>
            </mat-card>
        </div>
    </div>
    <div *ngIf="videographer" class="row justify-content-center">
        <div class="col-sm-12 col-md-10">
            <mat-card>
                <mat-card-content>
                        <div class="cover-photo" [style.background-image]="backgroundUrl"></div>
                        <div class="row profile-details-row">
                              <img *ngIf="videographer.profilePic" [src]="videographer.profilePic"
                                alt="{{videographer.firstName || null}}  {{videographer.lastName || null}}" class="avatar" />
                        <div class="col-sm-6 col-lg-8">
                            <div class="container d-flex h-100">
                                    <div class="row name-location-row justify-content-center align-self-center">
                                        <mat-list-item>
                                                <h3 matLine> {{ videographer.firstName || null }} {{videographer.lastName || null}}
                                                </h3>
                                                <p matLine>
                                                    <span> {{videographer.location || null}} </span>
                                                </p>
                                            </mat-list-item>                                    
                                        </div>
                                </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="offset-sm-2 col-sm-8">
                                    {{videographer.bio || null}}
                            </div>
                    </div>
                </mat-card-content>
                <mat-card-footer [hidden]="true">
                    <div class="container">
                        <form [formGroup]="emailForm" (ngSubmit)="subscribeToPortfolio()" *ngIf="!subscribed">
                            <div class="row">
                                <div class="col-12 col-sm-6 col-md-5 offset-md-3">
                                    <mat-form-field>
                                        <input matInput placeholder="Your Email" type="text" formControlName="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-6 col-md-4">
                                    <button type="button" class="btn btn-primary" (click)="subscribeToPortfolio()">Subscribe to Portfolio</button>
                                </div>
                            </div>
                        </form>

                        <div *ngIf="subscribed">
                            To finish subscription, please check for an AWS email to verify your email address.
                        </div>
                    </div>
                </mat-card-footer>
            </mat-card>

            <ng-container *ngIf="videos">
                <ng-container *ngFor="let vd of videos">
                    <video-card [video]="vd" [showAvatar]="false" (removeVideoEvent)="removeVideo($event)"></video-card>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>