<mat-card>
    <mat-card-title class="container">
        <div class="flex-container">
            <div *ngIf="showAvatar" routerLink="{{getLink(video.videographerId)}}">
                <img mat-card-avatar src="{{ video.profilePic}}" alt="{{video.firstName + ' ' + video.lastName}}">
            </div>
            <div>
                {{video.title}}
                <div class="title-genre">{{video.genre}}</div>
            </div>
        </div>
    </mat-card-title>
    <mat-card-content>
        <div *ngIf="!showingVideo" class="outer showing-thumbnail">
            <div class="inner" title="Click to play video">
                <img (click)="showVideo()" class="video-thumbnail pointer" [src]="video.thumbnailUrl">
            </div>
        </div>
        <div [hidden]="!showingVideo" class="embed-responsive embed-responsive-16by9">
            <video #videoPlayer controls="true" class="embed-responsive-item">
                <source src="{{video.url}}" type="video/mp4" />
            </video>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {{video.description}}
                </div>
            </div>
        </div>
        <ng-container *ngIf="video.videographerId === auth.activeUserId()">
            <a mat-raised-button class="mr-auto" routerLink="{{'videos/' + video.id + '/edit'}}">Edit
                Video</a>
            <a mat-raised-button class="mr-auto" (click)="removeVideo(video, $event)">Remove Video</a>
        </ng-container>
    </mat-card-footer>
</mat-card>