<div class="row justify-content-center" *ngIf="profileForm">
    <div class="col-sm-10">
        <mat-card>
            <mat-card-title *ngIf="!videogoo">Create a Profile:</mat-card-title>
            <mat-card-title *ngIf="videogoo">Edit Profile:</mat-card-title>

            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="First Name" type="text" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput placeholder="Location" type="text" formControlName="location">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <button mat-raised-button color="primary"
                            (click)="selectPhoto()">Upload Profile Pic</button>
                            <ng-container *ngIf="file">
                                    <span>{{file.name}}</span>
                                    <button mat-icon-button
                                            color="primary"
                                            (click)="removePhoto()">
                                      <mat-icon>close</mat-icon>
                                    </button>
                            </ng-container>
                    </div>
                </div>
                <mat-form-field>
                    <textarea matInput placeholder="Biography" type="text" formControlName="bio"></textarea>
                </mat-form-field>
                <div class="row">
                    <div class="col-sm-12 justify-content-end">
                        <button mat-raised-button [routerLink]="['../']">Cancel</button>
                        <button mat-raised-button type="submit">{{ videogoo ? 'Save Edits' : 'Create User' }}</button>
                    </div>
                </div>
            </form>
        </mat-card>
    </div>
</div>
<input #fileUpload type="file" (change)="onPictureSelect($event)" class="hide" >
