$primary: #283e4a;

@import "../node_modules/bootstrap/scss/bootstrap";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor: pointer;
}

.mat-button-base {
    margin: 5px !important;
}

mat-card {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

.hide {
    display:none;
  }

.bold {
    font-weight: bold !important;
}